@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'roboto', arial, helvetica, sans-serif;
  background-color: #050505;
  color: #FFFFFF ;
}
header{
  text-align: center;
  margin-top:42px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px;
  background-color:#151515 ;
  gap: 10px;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;

}
section {
  display: flex;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.input-wrapper input{
  width: 100%;
}

input, textarea {
  color: #FFFFFF;
  background-color: #1F1F1F;
  border: none;
  border-radius: 12px;
  display: flex;
  width: 100%;
  padding: 10px;
  resize: none;
}
::-webkit-input-placeholder{
padding: 10px;
}
.button{
  display: flex;
  justify-content: flex-end;
  
}
button{
  background-color: #6CE971CC;
  color: #FFFFFF;
  width: 316px;
  height: 57px;
  border-radius: 12px;
  margin-right: 0;
  cursor: pointer;
}

